__pycache__
*.log
.vscode
./idea
.idea
.DS_Store


# End of https://www.toptal.com/developers/gitignore/api/python
.idea/shelf/Uncommitted_changes_before_Update_at_01_01_2023_20_27_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_01_01_2023_20_27__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_02_01_2023_19_37_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_02_01_2023_19_37__Changes_.xml
.idea/workspace.xml
.vscode
